@import "colors.css";

.selectHosts {
	
}

.host {
	text-transform: none;
	display: flex;
	justify-content: space-between;
	background: var(--dark);
}

.name {
	flex-grow: 1;
}

.status {
	margin: -6px -12px;
	width: 10px;
}

.selected {
	background: var(--accent);
}

.unselected {
	background: none;
}